body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	margin-top:0;
    padding-top:0;
    margin-bottom:0;
		margin-left: 0;
		margin-right: 0;
    padding-bottom:0;
    /* background-color:#EBEBEB; */
		/* background-color:#E8E3D7; */
		/* background-color:#E8E3D700; */
/* scrollbar-width:none; */
background-color:#8EEEFF00;
		    /* font-family: 'Muli', sans-serif; */


		    font-family: 'Hind Siliguri', sans-serif; */


    overflow:hidden;
    color: #08090A;
    border-color: #08090A;
/* letter-spacing: 1px; */
}
 #img2{
	 /* visibility: hidden; */
	 /* display: none; */
 }

 .mainBoxImg{
  /* display: none; */
	cursor: pointer;
  transition: 0.3s;
	width: 100%;
 }

 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
 }

 /* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
#close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

#close:hover,
#close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
canvas {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
overflow:hidden;
}


.left{
	/*display: table;*/
	margin: 0% 0% 0% 0%;
	padding: 2.5%	2.5% 5% 2.5%;
	left: 0;
	right: 0;
	width: 47.5%;
	height: 100vh;
	position: fixed;
	/*border-right: 2px solid;*/
  /* background-color:#F4F7F5; */
	background-color:#FFFFFF00 ;
	/* border: 5px solid ; */
	overflow: scroll ;
	display: inline;
}

/* ::-webkit-scrollbar {
    display: none;
} */
.right{
 	 float: right;
	margin:  0% 0% 2.5% 0%;
	/* left:50%; */
	/* position: fixed; */
	width: 47.5%;
	height: 100vh;
	/* border: 5px solid ; */
		/* padding-left:  2.5%; */
		background-color:#F4F7F5A600 ;
				/* background-color:#F4F7F5 ; */
/* padding-bottom: 2%; */
overflow: scroll;
display: inline-block;
	/*border-left: 2px solid black;*/
}
.rightScroll{

	overflow: scroll;
/* position: fixed; */
	/*border-left: 2px solid black;*/
}

.middle{
float: left;
	width: 100%;
	/* left:100%; */
	margin: 0%;
	padding: 0%;
height: 2.5;
/* position: fixed; */
/* Safari */
-webkit-transform: rotate(-90deg);
background-color: yellow;
/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

p.middle{
	text-align:center;

}
p.bio{

	/*width:50%;*/
	text-align: right;
	height:100%;
	max-height: 30%;
}




.vid{

	width:560;
	 height:315;
}
h1 {
	text-align: right;
	/* font-family: 'Open Sans', sans-serif; */
 	/* font-family: 'Roboto', sans-serif; */
	margin-top:0;
  padding-top:0;
	font-size: 2em;
}

h2{

	font-size: 1.5em;
	/* background-color: red; */
			padding-left: 0%;
			display: inline-block;
			float: right ;
}



mark{


}

.projLink {
	font-size: 2em;
	text-align: right;
	padding-left: 2%;
	 /* background: rgba(0, 0, 0, 0.2); */
	width: 100%;
	float: right;
}

a.projLink:link {
  color: #3C594E00;
	background-color: #3C594E00;
/* visibility: hidden; */
}

.projLink:link {
  color: #red;
/* visibility: hidden; */
}

a.projLink:visited {
    text-decoration: none;
    color: #3C594E;

}
#bioLink2{
	float: left;
}
a:link.bioLink{
	background-color: #F5F400D9;
	font-weight: bold;
	float:right;
	display: block;
	font-size: 1.5em;
	padding: 0% 1% 0% 1%;
}
.project:hover  a.projLink {
    text-decoration: none;
			background-color: #F5F400D9;
			/* background-color: red; */
    /*color: #737373;*/
   color: #08090A;
	 visibility: visible;
}
.projLink{
	    color: #red;
			padding: 0%;
}
a.projLink:active {
    text-decoration: none;
		   color: #F4F7F5A6;
}
p{
		/* font-family: 'Open Sans', sans-serif; */
		font-size: 1.25em;
		margin-top:0;
    padding-top:0;
		margin-bottom:0;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
}

a:link {
    text-decoration: none;
    color: #262626;
}

a:visited {
    text-decoration: none;
    color: #262626;
}

a:hover {
    text-decoration: none;
    /*color: #737373;*/
		 /* visibility: visible; */
   color: #3C594E;
}

a:active {
    text-decoration: none;
}

.pLeft{
	 /* float:left; */
}

.pRight{
	 /* float:left; */
}
.projImage{
   /* float:left; */
   width:auto;
   max-width:50%;
   /* height:auto; */
   max-height:100%;
	 position: relative;
}

.projText{
	color: #08090A;
  font-size: 1em;
	/* float: right; */
	/* width:auto; */
   max-width:100%;
   height:auto;
   max-height:100%;
	 /* position:absolute; */
}
.project{
	width:100%;
	height: 66vh;
	padding-right: 0%;
	/* margin: 0% 2.5% 5% 2.5%; */
	float:left;
		cursor: pointer;
	background-size: cover;
	 background-color: rgba(255, 255, 255, 0.0);
	  background-blend-mode: lighten;
	/* border: 1px solid; */
	/* height: auto; */
	/* overflow:auto */
}

.project:hover{
	 background-color: rgba(255, 255, 255, 0.3);
}


#project1  {
	background-image: url("images/renderThumb.png");

}

#project2  {
	background-image: url("images/addda.png");

}

#project3  {
	background-image: url("images/printedShells.jpg");

}
#project4  {
	background-image: url("images/wondow.jpg");

}
#project5	  {
	background-image: url("images/timeLines.png");

}
#project6	  {
	background-image: url("images/dimiShaders/dimiShaderWater.png");

}

#project7	  {
	background-image: url("images/dwainC.png");

}

#exit {
	/* font-family: 'Open Sans', sans-serif; */
	font-weight: bold;
	background-color: #F5F400D9;
	/* color: #F4F7F5; */
	/* display: none; */
	position: fixed;
	padding: 0% 1% 0% 1%;

}
.shortLinks{
visibility: collapse;
height: 0px;
}


.rotate{
-webkit-transform: rotate(90deg);
	 -moz-transform: rotate(90deg);
	 -o-transform: rotate(90deg);
	 -ms-transform: rotate(90deg);
	 transform: rotate(90deg);
 }
.break{

	/*height: 50%;*/
}
.links{

	font-weight: bold;
	 visibility: visible;
	/*padding-top: 0%;*/
}

#menButton {
	visibility: hidden;
		margin: 0% ;
}

.button {
	style.display: none;
}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	/* body { background-color:#262626; }
	.right {  width: 100%;height: 90%;margin-top: 30px;
}
	.left {  width: 100%;max-height: 30px; overflow: hidden;}
	.links{		font-size: 1vw; visibility: collapse;}
		/*padding-top: 0%;*/
		/* .shortLinks{
			width: 100%;
		font-size: 3vw;
		visibility:  visible;
		text-align: right;
		}
		.bio{ visibility: hidden;}
	#menButton {
		visibility: visible;
	}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; } */
	.left{
		 height: 50vh;

		width: 100%;
		/*display: block;
			margin: 2.5%; */
			position: static;
			overflow: scroll;
	}
	.right{
		height: 50vh;
		width: 100%;
		overflow: scroll;
			/* position: absolute; */
			left: 0%;
			/* float: right; */
			/* display: block; */
				margin: 2.5%;
	}

	.bottom{

		/* margin-top: 100%; */
	}


	.project{
		width:100%;

		/* height: auto; */
		/* overflow:auto */
	}
}
